* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.container{
  background-color: #4070f4;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dots span{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(calc(var(--i)*(360deg / 10))) translateY(35px);
  animation: rotate 1.5s linear infinite;
  animation-delay: calc(var(--i)*0.1s);
  opacity: 0;
}
@keyframes rotate{
0%{
  opacity:1;
}
100%{
  opacity: 0;

}
}